{
  "parser": "@babel/eslint-parser",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true
  },
  "globals": {
  },
  "rules": {
    "consistent-return": "off",
    "func-names": "off",
    "max-len": "off",
    "no-console": "off",
    "no-else-return": "off",
    "no-multiple-empty-lines": "off",
    "no-underscore-dangle": "off"
  }
}
